* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url("../../Asset/InformasiOrganik.jpg");
    background-size: cover;
    background-position: center 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Catatan-Organik {
    width: 60%;
    color: black;
    padding: 25px;
    border-radius: 15px;
    font-size: 25px;
    text-align: justify;
    font-family: 'Tahoma', cursive;
    position: absolute;
    top: 35%;
    left: 5%;
  
}

.Catatan-Organik span {
    font-family: 'Carter One', cursive;
    font-weight: 800;
    color: rgb(48, 110, 44);
    font-size: 1.1em;
}


.selanjutnya{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    top: 88%;
    left: 55%;
    display: flex;
    gap: 20px;
    
}

.Kembali {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
}



.Kembali:hover, .selanjutnya:hover {
    transform: scale(1.1);
}
