* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url("../../Asset/InformasiSampahB3.jpg");
    background-size: cover;
    background-position: center 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Catatan-B3 {
    width: 60%;
    color: black;
    padding: 25px;
    border-radius: 15px;
    font-size: 22px;
    text-align: justify;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 32%;
    left: 3%;
}

.Catatan-B3 span{
    color: red;
    font-weight: bold;
}

.selanjutnya{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    top: 88%;
    left: 55%;
    display: flex;
    gap: 20px;
    
}


.Kembali {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
}

.KembaliBelajar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    top: 88%;
    left: 10%;
    display: flex;
    gap: 20px;   
}

.Kembali:hover, .selanjutnya:hover, .KembaliBelajar:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
